/*  Social  */
.main-social {
    font-size: 35px;
    margin-top: -60px;
}

.main-social a {
    margin-right: 13px;
    margin-left: 13px;
}

.main-social a:link, a:visited {
    color: #7b8cac;
    text-decoration: unset;
}

.main-social a:hover {
    text-decoration: unset;
}

/* Social-Hover */
.social-github:hover, .social-github:link:hover { color: #4078c0; }
.social-reddit:hover, .social-reddit:link:hover { color: #bf481f; }
.social-steam:hover, .social-steam:link:hover {
    background:linear-gradient(120deg, #151c2e, #2077a6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
.social-discord:hover, .social-discord:link:hover { color: #7289DA; }
.social-instagram:hover, .social-instagram:link:hover {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
.social-twitter:hover, .social-twitter:link:hover { color: #1da1f2; }
